@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --heading-font: font-family: "Rokkitt", serif;
    --paragraph-font: font-family: "Open-Sans", sans serif;
  
    --icon-text-color: #202121;
    --icon-hover-background: #e1ebc5;
    --icon-gray-hover-background: rgba(0, 13, 13, .078); //#ebecec;
  
    --special-type-color: #00365d;
    --special-background-color: #f1f9fc;
  
    --label-type-color: #202121;
    --box-background-color: #fff;
    --box-border-color: #202121;
    --box-placeholder-color: rgba(0, 6, 11, .463); //#00080861 or #9ea1a1
  
    --button-gray-text-color: rgba(0, 6, 11, .463); //#00080861 or #9ea1a1
    --button-gray-background: rgba(0, 15, 15, .133); //#dddfdf
    --button-gray-outline-color: #9ea1a1;
  
    --standard-type-color: rgba(0, 3, 5, .737); //#434547
    --bold-type-color: #202121;
    
    --button-white-text-color: #202121;
    --button-white-hover-background-color: rgba(0, 13, 13, .078); //#ebecec;
  
    --button-black-text-color: #fff;
    --button-black-background-color: #202121;
    --button-black-hover-background-color: #434547;
  
    --button-blue-text-color: #066f90;
  
    --footer-background-color: rgba(0, 0, 0, .035); //#f6f6f6
 }
  
 //background: url(https://edge.fscdn.org/assets/static/media/mobile-apps-image.b02b654….webp) center center / cover no-repeat;

